@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";
@plugin "daisyui";
@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #9810FA;
  --color-secondary: #13162A;
}

body{
  background-image: linear-gradient(to bottom right, #18122C, #020204);
  min-height: 100vh;
  background-attachment: fixed;
  font-family: "Montserrat", sans-serif;
}